* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/bg-imgs.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  position: fixed;
  margin-bottom: 50px;
  display: block;
  }

